<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/article.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>CatchUp with Tech</title>
</head>
<body>

    <div class="navbar-container">

        <div class="navbar-logo">
            <p>CatchUp with <span>TECH</span></p>
        </div>

        <div class="navbar-items">
            <a href="index.html">Home</a>
            <a href="#">About</a>
            <a href="#">Categories</a>
            <a href="#">Contact Us</a>
        </div>
        
    </div>
    
    
    <div id="article-showcase">
        
        <div id="main-article">
            <h1>Header One</h1>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit veritatis officiis officia at commodi magni quidem quaerat enim libero sed rem, nisi recusandae similique non ipsam praesentium quasi mollitia eos eligendi, odio vitae animi incidunt cumque. Distinctio ut voluptatibus error officia provident aliquam similique consectetur animi possimus. Harum, voluptatibus enim?</p>

            <img src="https://placeimg.com/640/480/any" alt="">

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste corporis inventore harum neque sed repellat esse ad incidunt, quis vero error magni iure soluta veritatis, quam accusantium impedit debitis explicabo quod culpa laudantium sapiente voluptatibus. Impedit voluptas fuga voluptatibus eos nostrum commodi dicta earum tempore, eaque at. Non, alias at.</p>

        </div>
<!-- 
        <div id="main-banner">
            <p>Box 2</p>
        </div> -->
        
    </div>
    

    <!-- <div style="margin: 500px;"></div> -->


    <footer>
        <p>
            CatchUp with <span>TECH</span> | Built not Bought
        </p>
        <p>
            &copy 2021 All Right Reserved
        </p>
    </footer>
</body>
</html>